@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

body{
    width: 550px;
    height: 868px;
    font-family: 'Inter';
    color: #F5F5F5;
    background: #23252C;
}

.App{
    background-color: purple;
    width: 317px;
    height: 780px;
    margin: auto;
}